<!-- <div class="flex gap-2 relative w-full h-full bg-surface-200">
    <div #sideBar class="relative top-0 left-0 w-[4rem] h-full sidebar min-h-screen overflow-y-scroll hidden sm:block">

        <ul class="list-none pt-2 pr-1 pb-1 pl-1 m-0  overflow-hidden flex flex-col">
            <li class="flex align-items-center pl-2 justify-content-between align-center mb-3 mt-2">
                <img src="https://yt3.googleusercontent.com/L7fPOHO5TwVC_qz78Yo8P0MuJAB8I4FdQmOY2HSW7Z4_AFJZgAHzJCKQXo7ek1sy0pj0dIzM2Xg=s900-c-k-c0x00ffffff-no-rj"
                    class="rounded-full w-10 aspect-square  h-auto" alt="" srcset="">
                <span class="on-expand-block slide-title text-2xl">
                    QuadraBay
                </span>
                
                <p-toggleswitch class="on-expand-flex" (onChange)="toggleFix($event)">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-lock' : 'pi-lock-open']"></i>
                    </ng-template>
                </p-toggleswitch>   
              
            </li>
            <hr class="text-gray-400">
            @for (item of Contents; track $index) {
            <li class="flex justify-start pl-5 align-center mb-4 w-full slide-list">
                <div>
                    <i class="{{item.icon}} item-icon text-2xl"></i>
                </div>

              <div class="on-expand-block w-full">
                  @if (item.child && item.child.length > 0) {
                <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                    leaveToClass="hidden" leaveActiveClass="animate-slideup"
                    class="pl-2 pr-3 pt-1 pb-1 flex items-center no-underline text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                    (click)="toggleMain($event)">
                    <span class="font-normal mr-2 cust-font">{{item.name}}</span>
                    <i class="pi pi-chevron-right absolute right-0 slide-down"></i>
                </a>
                <ul class="list-none py-0 pl-4 pr-0 m-0 overflow-hidden">
                    @for(fchild of item.child; track $index) {
                    <li>
                        @if (fchild.child && fchild.child.length > 0) {
                        <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                            leaveToClass="hidden" leaveActiveClass="animate-slideup"
                            class="hover-text flex items-center no-underline cursor-pointer p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple "
                            (click)="toggleParent($event)">
                            <i class="{{fchild.icon}} item-icon mr-2"></i>
                            <span class="font-normal cust-font ">{{fchild.name}}</span>
                            <i class="pi pi-chevron-right ml-auto"></i>
                        </a>
                        <ul
                            class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                            @for(schild of fchild.child; track $index) {
                            <li>
                                @if (schild.child && schild.child.length > 0){
                                <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                    enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                    leaveActiveClass="animate-slideup"
                                    class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                    (click)="toggleParent($event)">
                                    <i class="{{schild.icon}} item-icon mr-2"></i>
                                    <span class="font-normal cust-font">{{schild.name}}</span>
                                    <i class="pi pi-chevron-right ml-auto "></i>
                                </a>
                                <ul
                                    class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                    @for(tchild of schild.child; track $index) {
                                    <li>
                                        @if (tchild.child && tchild.child.length > 0 ) {
                                        <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                            enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                            leaveActiveClass="animate-slideup"
                                            class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                            (click)="toggleParent($event)">
                                            <i class="{{tchild.icon}} item-icon mr-2"></i>
                                            <span class="font-normal cust-font">{{tchild.name}}</span>
                                            <i class="pi pi-chevron-right ml-auto"></i>
                                        </a>
                                        <ul
                                            class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                            @for(lchild of tchild.child; track $index) {
                                            <li>
                                                <a pRipple (click)="navigateTo(lchild.route)"
                                                    class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                    <i class="{{lchild.icon}} item-icon mr-2"></i>
                                                    <span class="font-normal cust-font">{{lchild.name}}</span>
                                                </a>
                                            </li>
                                            }
                                        </ul>
                                        } @else {
                                        <a pRipple (click)="navigateTo(tchild.route)"
                                            class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                            <i class="{{tchild.icon}} item-icon mr-2"></i>
                                            <span class="font-normal cust-font">{{tchild.name}}</span>
                                        </a>
                                        }
                                    </li>
                                    }
                                </ul>
                                } @else {
                                <a pRipple (click)="navigateTo(schild.route)"
                                    class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                    <i class="{{schild.icon}} item-icon mr-2"></i>
                                    <span class="font-medium cust-font">{{schild.name}}</span>
                                </a>
                                }
                            </li>
                            }
                        </ul>
                        } @else {
                        <a pRipple (click)="navigateTo(fchild.route)"
                            class="hover-text flex items-center cursor-pointer p-2 mb-1 no-underline rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                            <i class="{{fchild.icon}} mr-2 item-icon"></i>
                            <span class="font-medium cust-font ">{{fchild.name}}</span>
                        </a>
                        }

                    </li>
                    }
                </ul>
                } @else {
                <div pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                    leaveToClass="hidden" leaveActiveClass="animate-slideup"
                    class="hover-text flex items-center cursor-pointer pl-2 pr-3 pt-1 pb-1 no-underline rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                    (click)="navigateTo(item.route)">
                    <span class="font-medium cust-font">{{item.name}}</span>

                </div>
                }

                  
              </div>

            </li>
            }
        </ul>

         <div class="on-expand-block h-auto fixed bottom-0 mt-[100%] pb-1 w-full text-center footer">
                <small class="text-[10px]">Copyrights © 2025, QuadraBay. All Rights Reserved.
                    
                </small>
        </div>

       
    </div>
    <div class="relative">
        <h1>Somdds</h1>
    </div>
</div> -->

<div #sideBar class="relative top-0 left-0 w-[4rem] h-100 sidebar overflow-y-scroll hidden sm:block" (touchstart)="touchStart($event)" (touchend)="touchEnd($event)" >

        <ul class="list-none pt-2 pr-1 pb-1 pl-1 m-0 cursor-pointer overflow-hidden flex flex-col" >
            <li class="flex pl-2 justify-center max-[640px]:gap-3 sm:justify-between items-center mb-3 mt-2" >
                <img src="https://thumbs.dreamstime.com/b/lonely-elephant-against-sunset-beautiful-sun-clouds-savannah-serengeti-national-park-africa-tanzania-artistic-imag-image-106950644.jpg"
                    class="rounded-full w-10 aspect-square  h-auto" alt="" srcset="" (click)="navigateTo('/')">
                <span (click)="navigateTo('/')" class="on-expand-block mobile-view slide-title text-2xl">
                    QuadraBay
                </span>
                
                <p-toggleswitch class="on-expand-flex" (onChange)="toggleFix($event)">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-lock' : 'pi-lock-open']"></i>
                    </ng-template>
                </p-toggleswitch>   
              
            </li>
            <hr class="text-gray-400">
            @for (item of Contents; track $index) {
            <li class="flex justify-start pl-5 align-center mb-4 w-full slide-list">
                <div>
                    <i class="{{item.icon}} item-icon text-2xl"></i>
                </div>

              <div class="on-expand-block mobile-view w-full">
                  @if (item.child && item.child.length > 0) {
                <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                    leaveToClass="hidden" leaveActiveClass="animate-slideup"
                    class="pl-2 pr-3 pt-1 pb-1 flex items-center no-underline text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                    (click)="toggleMain($event)">
                    <span class="font-normal mr-2 cust-font">{{item.name}}</span>
                    <i class="pi pi-chevron-right absolute right-0 slide-down"></i>
                </a>
                <ul class="list-none py-0 pl-4 pr-0 m-0 overflow-hidden">
                    @for(fchild of item.child; track $index) {
                    <li>
                        @if (fchild.child && fchild.child.length > 0) {
                        <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                            leaveToClass="hidden" leaveActiveClass="animate-slideup"
                            class="hover-text flex items-center no-underline cursor-pointer p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple "
                            (click)="toggleParent($event)">
                            <i class="{{fchild.icon}} item-icon mr-2"></i>
                            <span class="font-normal cust-font ">{{fchild.name}}</span>
                            <i class="pi pi-chevron-right ml-auto"></i>
                        </a>
                        <ul
                            class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                            @for(schild of fchild.child; track $index) {
                            <li>
                                @if (schild.child && schild.child.length > 0){
                                <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                    enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                    leaveActiveClass="animate-slideup"
                                    class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                    (click)="toggleParent($event)">
                                    <i class="{{schild.icon}} item-icon mr-2"></i>
                                    <span class="font-normal cust-font">{{schild.name}}</span>
                                    <i class="pi pi-chevron-right ml-auto "></i>
                                </a>
                                <ul
                                    class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                    @for(tchild of schild.child; track $index) {
                                    <li>
                                        @if (tchild.child && tchild.child.length > 0 ) {
                                        <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                            enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                            leaveActiveClass="animate-slideup"
                                            class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                            (click)="toggleParent($event)">
                                            <i class="{{tchild.icon}} item-icon mr-2"></i>
                                            <span class="font-normal cust-font">{{tchild.name}}</span>
                                            <i class="pi pi-chevron-right ml-auto"></i>
                                        </a>
                                        <ul
                                            class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                            @for(lchild of tchild.child; track $index) {
                                            <li>
                                                <a pRipple (click)="navigateTo(lchild.route)"
                                                    class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                    <i class="{{lchild.icon}} item-icon mr-2"></i>
                                                    <span class="font-normal cust-font">{{lchild.name}}</span>
                                                </a>
                                            </li>
                                            }
                                        </ul>
                                        } @else {
                                        <a pRipple (click)="navigateTo(tchild.route)"
                                            class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                            <i class="{{tchild.icon}} item-icon mr-2"></i>
                                            <span class="font-normal cust-font">{{tchild.name}}</span>
                                        </a>
                                        }
                                    </li>
                                    }
                                </ul>
                                } @else {
                                <a pRipple (click)="navigateTo(schild.route)"
                                    class="hover-text flex items-center cursor-pointer no-underline p-2 mb-1 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                    <i class="{{schild.icon}} item-icon mr-2"></i>
                                    <span class="font-medium cust-font">{{schild.name}}</span>
                                </a>
                                }
                            </li>
                            }
                        </ul>
                        } @else {
                        <a pRipple (click)="navigateTo(fchild.route)"
                            class="hover-text flex items-center cursor-pointer p-2 mb-1 no-underline rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                            <i class="{{fchild.icon}} mr-2 item-icon"></i>
                            <span class="font-medium cust-font ">{{fchild.name}}</span>
                        </a>
                        }

                    </li>
                    }
                </ul>
                } @else {
                <div pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                    leaveToClass="hidden" leaveActiveClass="animate-slideup"
                    class="hover-text flex items-center cursor-pointer pl-2 pr-3 pt-1 pb-1 no-underline rounded-border text-surface-700 dark:text-surface-100  duration-150 transition-colors p-ripple"
                    (click)="navigateTo(item.route)">
                    <span class="font-medium cust-font">{{item.name}}</span>

                </div>
                }

                  
              </div>

            </li>
            }
        </ul>

         <div class="on-expand-block mobile-view h-auto sticky bottom-0 top-100 pb-1 w-full text-center footer">
                <small class="text-[10px]">Copyrights © 2025, QuadraBay. All Rights Reserved.
                    
                </small>
        </div>

       
    </div>