@import '../../style/sidebar.mixin.scss';
@include sidebar();
    
.mobile-side {
    display: block;
    z-index: 1000 !important;
    position: fixed !important;
    width: 300px !important;
    .mobile-view.on-expand-block {
        display: block !important;
    }

    transform: translateY(-10%);
    animation: drilldown 0.2s linear forwards alternate;
    .on-expand-flex {
        display: none !important;
    }
    
        ul {
            padding-right: 0.75rem;
        }
}

.off-mobile-side {
    animation: drillup 0.3s linear forwards alternate;
}

@keyframes drillup {
    0% {
        opacity: 1;
        transform: translateX(0%);
        display: none;
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes drilldown {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }

    100% {
        opacity: 1;
         transform: translateY(0%);
    }
}