<div class="flex gap-2 relative w-full h-full bg-surface-200">
    <div #sideBar class="relative top-0 left-0 w-[4rem] h-full sidebar min-h-screen overflow-y-scroll">

        <ul class="list-none pt-2 pr-1 pb-1 pl-1 m-0  overflow-hidden flex flex-col">
            <li class="flex align-items-center pl-2 justify-content-between align-center mb-3 mt-2">
                <img src="https://yt3.googleusercontent.com/L7fPOHO5TwVC_qz78Yo8P0MuJAB8I4FdQmOY2HSW7Z4_AFJZgAHzJCKQXo7ek1sy0pj0dIzM2Xg=s900-c-k-c0x00ffffff-no-rj"
                    class="rounded-full w-10 aspect-square  h-auto" alt="" srcset="">
                <span class="on-expand-block slide-title text-2xl">
                    QuadraBay
                </span>
                
                <p-toggleswitch [(ngModel)]="checked" class="on-expand-flex" (onChange)="toggleFix($event)">
                    <ng-template #handle let-checked="checked">
                        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-lock' : 'pi-lock-open']"></i>
                    </ng-template>
                </p-toggleswitch>   
              
            </li>
            <hr class="text-gray-400">
            @for (item of Contents; track $index) {
            <li class="flex justify-start pl-5 align-center mb-4 w-full slide-list">
                <div>
                    <i class="{{item.icon}} item-icon text-black text-2xl"></i>
                </div>

              <div class="on-expand-block w-full">
                  @if (item.child && item.child.length > 0) {
                <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                    leaveToClass="hidden" leaveActiveClass="animate-slideup"
                    class="pl-2 pr-3 pt-1 pb-1 flex items-center no-underline text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                    (click)="toggleMain($event)">
                    <span class="font-normal text-black mr-2 cust-font">{{item.name}}</span>
                    <i class="pi pi-chevron-right absolute right-0 text-black slide-down"></i>
                </a>
                <ul class="list-none py-0 pl-4 pr-0 m-0 overflow-hidden">
                    @for(fchild of item.child; track $index) {
                    <li>
                        @if (fchild.child && fchild.child.length > 0) {
                        <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                            leaveToClass="hidden" leaveActiveClass="animate-slideup"
                            class="hover-text flex items-center no-underline cursor-pointer p-2 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple "
                            (click)="toggleParent($event)">
                            <i class="{{fchild.icon}} item-icon mr-2 text-black"></i>
                            <span class="font-normal  text-black cust-font ">{{fchild.name}}</span>
                            <i class="pi pi-chevron-right ml-auto  text-black"></i>
                        </a>
                        <ul
                            class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                            @for(schild of fchild.child; track $index) {
                            <li>
                                @if (schild.child && schild.child.length > 0){
                                <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                    enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                    leaveActiveClass="animate-slideup"
                                    class="hover-text flex items-center cursor-pointer no-underline p-2 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                    (click)="toggleParent($event)">
                                    <i class="{{schild.icon}} item-icon mr-2 text-black"></i>
                                    <span class="font-normal  text-black cust-font">{{schild.name}}</span>
                                    <i class="pi pi-chevron-right ml-auto  text-black"></i>
                                </a>
                                <ul
                                    class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                    @for(tchild of schild.child; track $index) {
                                    <li>
                                        @if (tchild.child && tchild.child.length > 0 ) {
                                        <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                            enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                            leaveActiveClass="animate-slideup"
                                            class="hover-text flex items-center cursor-pointer no-underline p-2 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                            (click)="toggleParent($event)">
                                            <i class="{{tchild.icon}} item-icon mr-2 text-black"></i>
                                            <span class="font-normal  text-black cust-font">{{tchild.name}}</span>
                                            <i class="pi pi-chevron-right ml-auto text-black"></i>
                                        </a>
                                        <ul
                                            class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                            @for(lchild of tchild.child; track $index) {
                                            <li>
                                                <a pRipple (click)="navigateTo(lchild.route)"
                                                    class="hover-text flex items-center cursor-pointer no-underline p-2 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                    <i class="{{lchild.icon}} item-icon mr-2 text-black"></i>
                                                    <span class="font-normal cust-font text-black">{{lchild.name}}</span>
                                                </a>
                                            </li>
                                            }
                                        </ul>
                                        } @else {
                                        <a pRipple (click)="navigateTo(tchild.route)"
                                            class="hover-text flex items-center cursor-pointer no-underline p-2 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                            <i class="{{tchild.icon}} item-icon mr-2 text-black"></i>
                                            <span class="font-normal cust-font text-black">{{tchild.name}}</span>
                                        </a>
                                        }
                                    </li>
                                    }
                                </ul>
                                } @else {
                                <a pRipple (click)="navigateTo(schild.route)"
                                    class="hover-text flex items-center cursor-pointer no-underline p-2 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                    <i class="{{schild.icon}} item-icon mr-2 text-black"></i>
                                    <span class="font-medium cust-font text-black">{{schild.name}}</span>
                                </a>
                                }
                            </li>
                            }
                        </ul>
                        } @else {
                        <a pRipple (click)="navigateTo(fchild.route)"
                            class="hover-text flex items-center cursor-pointer p-2 hover-bg no-underline rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                            <i class="{{fchild.icon}} mr-2 item-icon text-black"></i>
                            <span class="font-medium cust-font text-black ">{{fchild.name}}</span>
                        </a>
                        }

                    </li>
                    }
                </ul>
                } @else {
                <div pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                    leaveToClass="hidden" leaveActiveClass="animate-slideup"
                    class="hover-text flex items-center cursor-pointer pl-2 pr-3 pt-1 pb-1 no-underline rounded-border text-surface-700 dark:text-surface-100 hover-bg duration-150 transition-colors p-ripple"
                    (click)="navigateTo(item.route)">
                    <span class="font-medium cust-font text-black">{{item.name}}</span>

                </div>
                }

                  
              </div>

            </li>
            }
        </ul>

         <!-- <div class="on-expand-block h-3 mt-auto bottom-3 w-full text-center">
                <small class="text-[10px]">Copyrights © 2025, QuadraBay. All Rights Reserved.
                    
                </small>
        </div> -->

       
    </div>
    <div class="relative">
        <h1>Somdds</h1>
    </div>
</div>

    <!-- <p-drawer #drawerRef [visible]="true">
        <ng-template #headless>
            <div class="flex flex-col h-full">
                <div class="flex items-center justify-between px-6 pt-4 shrink-0 bg-surface-800 pb-2">
                    <span class="inline-flex items-center gap-2">
                        <span class="rounded-full w-8 h-auto aspect-square" style="background-image: url('.'); background-position: center; background-size: cover;">
                        </span>
                        
                        <span class="fw-bold cursor-pointer text-xl text-primary text-black"
                            (click)="navigateTo('/')">Quadrabay</span>
                    </span>
                    <span>
                        <p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" rounded="true"
                            outlined="true" styleClass="h-8 w-8"></p-button>
                    </span>
                </div>
                <div class="overflow-y-auto">
                    <ul class="list-none pt-2 pr-1 pb-1 pl-0 m-0 overflow-hidden">
                        @for (item of Contents; track $index) {
                        <li class="pb-2">
                            @if (item.child && item.child.length > 0) {
                            <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                                leaveToClass="hidden" leaveActiveClass="animate-slideup"
                                class="pl-2 pr-3 pt-3 pb-3 flex items-center no-underline text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                                (click)="toggleMain($event)">
                                <i class="{{item.icon}} text-black mr-2"></i>
                                <span class="font-medium text-black">{{item.name}}</span>
                                <i class="pi pi-chevron-right ml-auto text-black slide-down"></i>
                            </a>
                            <ul class="list-none py-0 pl-4 pr-0 m-0 overflow-hidden">
                                @for(fchild of item.child; track $index) {
                                <li>
                                    @if (fchild.child && fchild.child.length > 0) {
                                    <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                        enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                        leaveActiveClass="animate-slideup"
                                        class="hover-text flex items-center no-underline cursor-pointer p-3 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple "
                                        (click)="toggleParent($event)">
                                        <i class="{{fchild.icon}} mr-2 text-black"></i>
                                        <span class="font-medium  text-black ">{{fchild.name}}</span>
                                        <i class="pi pi-chevron-right ml-auto  text-black"></i>
                                    </a>
                                    <ul
                                        class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                        @for(schild of fchild.child; track $index) {
                                        <li>
                                            @if (schild.child && schild.child.length > 0){
                                            <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                                enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                                leaveActiveClass="animate-slideup"
                                                class="hover-text flex items-center cursor-pointer no-underline p-3 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                                (click)="toggleParent($event)">
                                                <i class="{{schild.icon}} mr-2 text-black"></i>
                                                <span class="font-medium  text-black">{{schild.name}}</span>
                                                <i class="pi pi-chevron-right ml-auto  text-black"></i>
                                            </a>
                                            <ul
                                                class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                                @for(tchild of schild.child; track $index) {
                                                <li>
                                                    @if (tchild.child && tchild.child.length > 0 ) {
                                                    <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                                        enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                                        leaveActiveClass="animate-slideup"
                                                        class="hover-text flex items-center cursor-pointer no-underline p-3 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                                        (click)="toggleParent($event)">
                                                        <i class="{{tchild.icon}} mr-2 text-black"></i>
                                                        <span class="font-medium  text-black">{{tchild.name}}</span>
                                                        <i class="pi pi-chevron-right ml-auto text-black"></i>
                                                    </a>
                                                    <ul
                                                        class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                                        @for(lchild of tchild.child; track $index) {
                                                        <li>
                                                            <a pRipple (click)="navigateTo(lchild.route)"
                                                                class="hover-text flex items-center cursor-pointer no-underline p-3 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                                <i class="{{lchild.icon}} mr-2 text-black"></i>
                                                                <span
                                                                    class="font-medium  text-black">{{lchild.name}}</span>
                                                            </a>
                                                        </li>
                                                        }
                                                    </ul>
                                                    } @else {
                                                    <a pRipple (click)="navigateTo(tchild.route)"
                                                        class="hover-text flex items-center cursor-pointer no-underline p-3 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                        <i class="{{tchild.icon}} mr-2 text-black"></i>
                                                        <span class="font-medium  text-black">{{tchild.name}}</span>
                                                    </a>
                                                    }
                                                </li>
                                                }
                                            </ul>
                                            } @else {
                                            <a pRipple (click)="navigateTo(schild.route)"
                                                class="hover-text flex items-center cursor-pointer no-underline p-3 hover-bg rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                <i class="{{schild.icon}} mr-2 text-black"></i>
                                                <span class="font-medium  text-black">{{schild.name}}</span>
                                            </a>
                                            }
                                        </li>
                                        }
                                    </ul>
                                    } @else {
                                    <a pRipple (click)="navigateTo(fchild.route)"
                                        class="hover-text flex items-center cursor-pointer p-3 hover-bg no-underline rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                        <i class="{{fchild.icon}} mr-2  text-black"></i>
                                        <span class="font-medium  text-black ">{{fchild.name}}</span>
                                    </a>
                                    }

                                </li>
                                }
                            </ul>
                            } @else {
                            <div pRipple pStyleClass="@next" enterFromClass="hidden"
                                enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                leaveActiveClass="animate-slideup"
                                class="hover-text flex items-center cursor-pointer pl-2 pr-3 pt-3 pb-3 no-underline rounded-border text-surface-700 dark:text-surface-100 hover-bg duration-150 transition-colors p-ripple"
                                (click)="navigateTo(item.route)">
                                <i class="{{item.icon}} mr-2  text-black"></i>
                                <span class="font-medium  text-black">{{item.name}}</span>

                            </div>
                            }

                        </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="position-fixed bottom-3 w-full text-center">
                <small class="text-[10px]">Copyrights © 2025, QuadraBay. All Rights Reserved.
                    
                </small>
            </div>
        </ng-template>
    </p-drawer>
    <p-button (click)="openSlideBar()" icon="pi pi-bars" />
    <div class="card flex flex-col items-center gap-4">
        <p-selectbutton [(ngModel)]="role" [options]="options" size="small" optionValue="value" optionLabel="label"
            allowEmpty="false" def />
    
    </div> -->
