@import './variable.scss';
@mixin sidebar() {
    .p-drawer {
        background-color: $color-primary !important;
    }

    .p-drawer-mask {
        width : auto !important;
    }

    .p-drawer .p-button {
        color: rgb(225, 225, 225) !important;
        border-color: rgba(181, 181, 181, 0.427) !important 
    }

 
    .hover-text:hover {
        i, span {

            color: rgb(69 142 255) !important;
        }
    }

    .hover-bg:hover {
       background-color: rgb(164 212 255 / 19%);
    }

    .overflow-y-auto::-webkit-scrollbar {
        display: none;
    }

    .active-category {
         background-color: rgb(164 212 255 / 19%) !important;
          i, span {

            color: rgb(69 142 255) !important;
        }
    }

   
}