$color-seletedFont : rgb(69 142 255);
$color-toggleIcon : $color-seletedFont;
$color-footerColor : rgb(7, 42, 94);

$bgcolor-slectedBg :  rgb(164 212 255 / 19%);
$bgcolor-toggleOn : rgb(113 168 239 / 28%); 
$bgcolor-toggleOff : rgb(66 131 235 / 44%);